.profile {
    font-size: 5vw;
}

.navbar-brand {
    font-size: 5vh;
}

.owner {
    color: red;
}

.top-shadow {
    box-shadow: 0px -0px 10px 0px;
}

.bottom-text{
    font-size: 3vw;
}

@media (max-width: 576px) {
  .offcanvas.offcanvas-end {
    width: 75%; /* Take 75% width on mobile */
  }
}

@media (min-width: 577px) {
  .offcanvas.offcanvas-end {
    width: 300px; /* Fixed sidebar size on larger screens */
  }
}





